.Login {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 100vh
}

.Login_logo {
    color: #111;
    margin: 28px auto 20px;
    object-fit: contain;
    width: 100px
}

.Login_container {
    background-color: rgb(253, 255, 255);
    border: 1.5px solid #c0c0c0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 100px;
    width: 300px
}

.sign_in {
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 32%
}

.e_mail,.password {
    margin-bottom: 5px
}

.e_mail_filed,.password_filed {
    background-color: #fff;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 98%
}

.Login_text {
    font-family: sans-serif;
    font-size: 12px;
    margin-bottom: 15px
}

.Login_signIN_button {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5%
}

.Login_register_button,.Login_signIN_button {
    box-shadow: 0 6px 18px -9px rgba(0,0,0,.75);
    color: #111;
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    width: 100%
}

.Login_register_button {
    border: 1px solid #a9a9a9;
    border-radius: 2px
}

.click_Login_logo {
    cursor: pointer
}

.click_signIn_button {
    cursor: pointer;
    text-decoration: none
}